multi-select {

  display: block;

  multi-select-choices {
    .choices {
      display: block;
      margin: 0;
      padding: 0;
      border: 1px solid gray;
      border-top: none;
      max-height: 100px;
      overflow-y: auto;

      li {
        display: block;
        padding: 2px 5px;

        &.selected {

          a {
            color: red;
          }
        }
      }
    }
  }

  .pills {
    margin: 0;
    padding: 0;
    display: inline;

    li {
      display: inline-block;
      border: 1px solid gray;
      padding: 2px 5px;

      &.selected {
        background-color: red;
      }
    }
  }


  input {
    border: none;
    min-width: 50px;
    width: 100%;
  }
}
