$lightColor: #ffffff;
$gray: #d4d4d4;
$active: #0070b8;

multi-select {
  display: block;
  background-color: $lightColor;
  text-align: left;
  border: 1px solid $gray;
  padding: 0 2px;

  .pills {
    margin: 0;
    padding: 0 0 2px 0;
    display: inline;
    height: inherit;

    li {
      display: inline-block;
      border: 1px solid $gray;
      padding: 2px 5px;
      margin-top: 2px;
      margin-right: 2px;

      a {
        text-decoration: none;
        color: $active;
      }

      &.selected {
        border-color: $active;
        background-color: $active;

        &, a {
          color: $lightColor;
        }
      }
    }
  }


  input {
    border: none;
    min-width: 50px;
    width: 100%;
    outline: none;
  }
}

.multi-select-choices {
  background-color: $lightColor;
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  border: 1px solid $gray;
  border-top: none;
  max-height: 100px;
  overflow-y: auto;
  z-index: 1;


  li {
    display: block;
    padding: 2px 5px;

    a {
      display: block;
      cursor: pointer;
    }

    &.selected {
      background-color: $active;
      a {
        color: $lightColor;
      }
    }
  }
}
