multi-select {
  display: inline-block;
  border: 1px solid gray;
  padding: 10px;

  multi-select-choices {
    .choices {
      display: block;
      margin: 0;
      padding: 0;
      border: 1px solid gray;
      border-top: none;
      max-height: 100px;
      overflow-y: auto;

      li {
        display: block;
        padding: 2px 5px;

        &.selected {

          a {
            color: red;
          }
        }
      }
    }
  }

  .pills {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      border: 1px solid gray;
      padding: 2px 5px;
    }
  }


  input {
    width: 100%;
  }
}
